{% extends "layout.html" %}

{% block content %}
<h2 class="flex justify-center items-center text-white text-3xl font-semibold mb-6">Registration Form</h2>

<div class="min-h-screen flex justify-center items-center ">
    <form method="post" class="inline-flex flex-col p-8 w-[40%] bg-gray-700 border border-gray-600 shadow-2xl rounded-lg text-gray-200">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="w-full my-6 py-2 px-4 bg-gray-500 hover:bg-gray-600 transition-all duration-300 text-white font-semibold rounded-md shadow focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-offset-2">
            Register Me
        </button>
    </form>
</div>
{% endblock %}