{% extends "layout.html" %}
{% load static %}
{% block title %}
Django Review Page
{% endblock %}

{% block content %}
<div class="full_body flex justify-center items-center flex-col">
    <h1 class="text-3xl text-red-500 flex items-center justify-center font-bold px-[100px]">Review form page</h1>

    <h2 class="text-white text-3xl">
        {% if form.instance.pk %} 
        Edit Review
        {% else %}
        Add Review
        {% endif %}
    </h2>

    <form method="post" enctype="multipart/form-data" class="form bg-transparent border-gray-600  shadow-2xl p-8 flex justify-center items-center flex-col w-[40%]">
        
    {% csrf_token %}
    {{form.as_div}}
    <button class="hover:border p-2 bg-gray-500 w-[10rem] hover:bg-gray-700 text-white font-semibold text-xl border-gray-500 border-none rounded" type="submit">Submit</button>
    </form>

    <a class='text-white m-4 text-xl' href="{% url 'review_list' %}">Back to Review list Hub</a>
</div>
{% endblock %}
    
</body>
</html>